.header {
  background-color: #494d52;
  padding: 20px;
  border-bottom: 1px solid #494d52;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-menu {
  display: flex;
  gap: 20px;
}

.link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.link.bold {
  font-weight: bold;
}
