/*CONTAINER*/
.container {
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/*FORM*/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.form input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*TABS*/
.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs h3 {
  width: 100%;
}

.tabs button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 5px;
  background: #f5f5f5;
  transition: 0.2s;
}

.tabs button:hover {
  background: #e0e0e0;
}

.tabs button.selecionado {
  background: #022307;
  color: white;
  border-color: #011121;
}

/*PAINEL*/
.painel {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

/*PIX*/
.qr {
  display: block;
  margin: 15px auto;
}

.pix-chave {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pix-chave input {
  flex: 1;
}

.pix-chave button {
  padding: 8px 12px;
  cursor: pointer;
}

/*BOLETO*/
.boleto {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
}

/*CARTÃO*/
.cartao-inputs {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 15px;
}

.grupo-quadradinhos {
  display: flex;
  gap: 4px;
  margin-right: 8px;
}

.num-quadradinho {
  width: clamp(16px, 3vw, 25px);
  height: clamp(16px, 3vw, 25px);
  border-radius: 6px;
  border: 1px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-weight: bold;
  font-size: clamp(10px, 2vw, 14px);
  text-align:center;
  padding:0;
}

/*VALIDADE + CVV*/
.linha-cvv-validade {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.validade-input {
    width: 40px;
    height: 18px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.barra-validade {
    font-weight: bold;
    font-size: 18px;
    margin: 0 5px;
}

.campo-validade,
.campo-cvv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.campo-validade label,
.campo-cvv label {
  font-weight: bold;
}

.info {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background: #756e6e;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

/*BOTÃO*/
.finalizar {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.finalizar:hover {
  background: #27ae60;
}

/*MENSAGENS*/
.mensagem {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.mensagem.vermelho {
  color: #e74c3c;
}

.mensagem.verde {
  color: #2ecc71;
}

/*RESPONSIVIDADE*/
@media (min-width: 900px) {
  .cartao-inputs {
    flex-wrap: nowrap;
  }
}

@media (max-width: 599px) {

  .num-quadradinho {
    width: 22px;
    height: 22px;
  }

}