
/* Reset simples de listas e links, se necessário */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Estilos de layout que envolvem toda a App */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
