html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #d6dce9;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}
